Studio/tomcat/webapps/convertigo/WEB-INF/services/RemoteAdministration/META-INF/RemoteAdministration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://engine.convertigo.twinsoft.com" xmlns:ns2="http://engine.convertigo.twinsoft.com/xsd" xmlns:axis2="http://engine.convertigo.twinsoft.com" xmlns:ns1="http://io.java/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://tas.twinsoft.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tas.twinsoft.com/xsd" xmlns:ax21="http://tas.twinsoft.com/xsd">
            <xs:complexType name="TASException">
                <xs:complexContent>
                    <xs:extension base="ns2:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="SQLException">
                <xs:complexContent>
                    <xs:extension base="ax21:TASException">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ApplicationException">
                <xs:complexContent>
                    <xs:extension base="ax21:TASException">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ParsingException">
                <xs:complexContent>
                    <xs:extension base="ax21:TASException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd" xmlns:ax22="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:complexContent>
                    <xs:extension base="ns2:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://engine.convertigo.twinsoft.com/xsd" xmlns:xsd="http://engine.convertigo.twinsoft.com/xsd">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="EngineException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EngineException" nillable="true" type="xsd:EngineException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ConvertigoException">
                <xs:complexContent>
                    <xs:extension base="xsd:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="EngineException">
                <xs:complexContent>
                    <xs:extension base="xsd:ConvertigoException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="isEngineStartedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SQLException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SQLException" nillable="true" type="ns0:SQLException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ApplicationException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ApplicationException" nillable="true" type="ns0:ApplicationException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ParsingException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ParsingException" nillable="true" type="ns0:ParsingException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberOfContextsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getContextIDsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IOException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IOException" nillable="true" type="ns1:IOException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployArchive">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="archiveFileContent" nillable="true" type="xs:base64Binary"/>
                        <xs:element minOccurs="0" name="bAssembleXsl" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeContext">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="contextID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="syncCertificates">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="type" type="xs:int"/>
                        <xs:element minOccurs="0" name="sProperties" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="syncProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="sProperties" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="restartEngineResponse">
  </wsdl:message>
  <wsdl:message name="deployArchiveResponse">
  </wsdl:message>
  <wsdl:message name="getNumberOfContextsRequest">
  </wsdl:message>
  <wsdl:message name="ParsingException">
    <wsdl:part name="parameters" element="ns2:ParsingException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="ns2:loginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContextIDsResponse">
    <wsdl:part name="parameters" element="ns2:getContextIDsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EngineException">
    <wsdl:part name="parameters" element="ns2:EngineException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="stopEngineRequest">
  </wsdl:message>
  <wsdl:message name="syncCertificatesResponse">
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part name="parameters" element="ns2:SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="syncPropertiesResponse">
  </wsdl:message>
  <wsdl:message name="getNumberOfContextsResponse">
    <wsdl:part name="parameters" element="ns2:getNumberOfContextsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="syncPropertiesRequest">
    <wsdl:part name="parameters" element="ns2:syncProperties">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeContextRequest">
    <wsdl:part name="parameters" element="ns2:removeContext">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="syncCertificatesRequest">
    <wsdl:part name="parameters" element="ns2:syncCertificates">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isEngineStartedResponse">
    <wsdl:part name="parameters" element="ns2:isEngineStartedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IOException">
    <wsdl:part name="parameters" element="ns2:IOException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="stopEngineResponse">
  </wsdl:message>
  <wsdl:message name="ApplicationException">
    <wsdl:part name="parameters" element="ns2:ApplicationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deployArchiveRequest">
    <wsdl:part name="parameters" element="ns2:deployArchive">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getContextIDsRequest">
  </wsdl:message>
  <wsdl:message name="isEngineStartedRequest">
  </wsdl:message>
  <wsdl:message name="startEngineResponse">
  </wsdl:message>
  <wsdl:message name="restartEngineRequest">
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="ns2:login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startEngineRequest">
  </wsdl:message>
  <wsdl:message name="removeContextResponse">
  </wsdl:message>
  <wsdl:portType name="RemoteAdministrationPortType">
    <wsdl:operation name="isEngineStarted">
      <wsdl:input message="axis2:isEngineStartedRequest" wsaw:Action="urn:isEngineStarted">
    </wsdl:input>
      <wsdl:output message="axis2:isEngineStartedResponse" wsaw:Action="urn:isEngineStartedResponse">
    </wsdl:output>
      <wsdl:fault name="EngineException" message="axis2:EngineException" wsaw:Action="urn:isEngineStartedEngineException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeContext">
      <wsdl:input message="axis2:removeContextRequest" wsaw:Action="urn:removeContext">
    </wsdl:input>
      <wsdl:output message="axis2:removeContextResponse" wsaw:Action="urn:removeContextResponse">
    </wsdl:output>
      <wsdl:fault name="EngineException" message="axis2:EngineException" wsaw:Action="urn:removeContextEngineException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="stopEngine">
      <wsdl:input message="axis2:stopEngineRequest" wsaw:Action="urn:stopEngine">
    </wsdl:input>
      <wsdl:output message="axis2:stopEngineResponse" wsaw:Action="urn:stopEngineResponse">
    </wsdl:output>
      <wsdl:fault name="EngineException" message="axis2:EngineException" wsaw:Action="urn:stopEngineEngineException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfContexts">
      <wsdl:input message="axis2:getNumberOfContextsRequest" wsaw:Action="urn:getNumberOfContexts">
    </wsdl:input>
      <wsdl:output message="axis2:getNumberOfContextsResponse" wsaw:Action="urn:getNumberOfContextsResponse">
    </wsdl:output>
      <wsdl:fault name="EngineException" message="axis2:EngineException" wsaw:Action="urn:getNumberOfContextsEngineException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="syncProperties">
      <wsdl:input message="axis2:syncPropertiesRequest" wsaw:Action="urn:syncProperties">
    </wsdl:input>
      <wsdl:output message="axis2:syncPropertiesResponse" wsaw:Action="urn:syncPropertiesResponse">
    </wsdl:output>
      <wsdl:fault name="EngineException" message="axis2:EngineException" wsaw:Action="urn:syncPropertiesEngineException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="restartEngine">
      <wsdl:input message="axis2:restartEngineRequest" wsaw:Action="urn:restartEngine">
    </wsdl:input>
      <wsdl:output message="axis2:restartEngineResponse" wsaw:Action="urn:restartEngineResponse">
    </wsdl:output>
      <wsdl:fault name="EngineException" message="axis2:EngineException" wsaw:Action="urn:restartEngineEngineException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="axis2:loginRequest" wsaw:Action="urn:login">
    </wsdl:input>
      <wsdl:output message="axis2:loginResponse" wsaw:Action="urn:loginResponse">
    </wsdl:output>
      <wsdl:fault name="EngineException" message="axis2:EngineException" wsaw:Action="urn:loginEngineException">
    </wsdl:fault>
      <wsdl:fault name="SQLException" message="axis2:SQLException" wsaw:Action="urn:loginSQLException">
    </wsdl:fault>
      <wsdl:fault name="ParsingException" message="axis2:ParsingException" wsaw:Action="urn:loginParsingException">
    </wsdl:fault>
      <wsdl:fault name="ApplicationException" message="axis2:ApplicationException" wsaw:Action="urn:loginApplicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContextIDs">
      <wsdl:input message="axis2:getContextIDsRequest" wsaw:Action="urn:getContextIDs">
    </wsdl:input>
      <wsdl:output message="axis2:getContextIDsResponse" wsaw:Action="urn:getContextIDsResponse">
    </wsdl:output>
      <wsdl:fault name="EngineException" message="axis2:EngineException" wsaw:Action="urn:getContextIDsEngineException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="syncCertificates">
      <wsdl:input message="axis2:syncCertificatesRequest" wsaw:Action="urn:syncCertificates">
    </wsdl:input>
      <wsdl:output message="axis2:syncCertificatesResponse" wsaw:Action="urn:syncCertificatesResponse">
    </wsdl:output>
      <wsdl:fault name="EngineException" message="axis2:EngineException" wsaw:Action="urn:syncCertificatesEngineException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startEngine">
      <wsdl:input message="axis2:startEngineRequest" wsaw:Action="urn:startEngine">
    </wsdl:input>
      <wsdl:output message="axis2:startEngineResponse" wsaw:Action="urn:startEngineResponse">
    </wsdl:output>
      <wsdl:fault name="EngineException" message="axis2:EngineException" wsaw:Action="urn:startEngineEngineException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deployArchive">
      <wsdl:input message="axis2:deployArchiveRequest" wsaw:Action="urn:deployArchive">
    </wsdl:input>
      <wsdl:output message="axis2:deployArchiveResponse" wsaw:Action="urn:deployArchiveResponse">
    </wsdl:output>
      <wsdl:fault name="IOException" message="axis2:IOException" wsaw:Action="urn:deployArchiveIOException">
    </wsdl:fault>
      <wsdl:fault name="EngineException" message="axis2:EngineException" wsaw:Action="urn:deployArchiveEngineException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemoteAdministrationHttpBinding" type="axis2:RemoteAdministrationPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="isEngineStarted">
      <http:operation location="RemoteAdministration/isEngineStarted"/>
      <wsdl:input>
        <mime:content part="isEngineStarted" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="isEngineStarted" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeContext">
      <http:operation location="RemoteAdministration/removeContext"/>
      <wsdl:input>
        <mime:content part="removeContext" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="stopEngine">
      <http:operation location="RemoteAdministration/stopEngine"/>
      <wsdl:input>
        <mime:content part="stopEngine" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfContexts">
      <http:operation location="RemoteAdministration/getNumberOfContexts"/>
      <wsdl:input>
        <mime:content part="getNumberOfContexts" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getNumberOfContexts" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="syncProperties">
      <http:operation location="RemoteAdministration/syncProperties"/>
      <wsdl:input>
        <mime:content part="syncProperties" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="restartEngine">
      <http:operation location="RemoteAdministration/restartEngine"/>
      <wsdl:input>
        <mime:content part="restartEngine" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="RemoteAdministration/login"/>
      <wsdl:input>
        <mime:content part="login" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="login" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContextIDs">
      <http:operation location="RemoteAdministration/getContextIDs"/>
      <wsdl:input>
        <mime:content part="getContextIDs" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getContextIDs" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="syncCertificates">
      <http:operation location="RemoteAdministration/syncCertificates"/>
      <wsdl:input>
        <mime:content part="syncCertificates" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="startEngine">
      <http:operation location="RemoteAdministration/startEngine"/>
      <wsdl:input>
        <mime:content part="startEngine" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="deployArchive">
      <http:operation location="RemoteAdministration/deployArchive"/>
      <wsdl:input>
        <mime:content part="deployArchive" type="text/xml"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RemoteAdministrationSOAP11Binding" type="axis2:RemoteAdministrationPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="isEngineStarted">
      <soap:operation soapAction="urn:isEngineStarted" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeContext">
      <soap:operation soapAction="urn:removeContext" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="stopEngine">
      <soap:operation soapAction="urn:stopEngine" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfContexts">
      <soap:operation soapAction="urn:getNumberOfContexts" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="syncProperties">
      <soap:operation soapAction="urn:syncProperties" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="restartEngine">
      <soap:operation soapAction="urn:restartEngine" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:login" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap:fault name="EngineException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ParsingException">
        <soap:fault name="ParsingException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApplicationException">
        <soap:fault name="ApplicationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContextIDs">
      <soap:operation soapAction="urn:getContextIDs" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="syncCertificates">
      <soap:operation soapAction="urn:syncCertificates" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startEngine">
      <soap:operation soapAction="urn:startEngine" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deployArchive">
      <soap:operation soapAction="urn:deployArchive" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineException">
        <soap:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RemoteAdministrationSOAP12Binding" type="axis2:RemoteAdministrationPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="isEngineStarted">
      <soap12:operation soapAction="urn:isEngineStarted" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap12:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeContext">
      <soap12:operation soapAction="urn:removeContext" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap12:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="stopEngine">
      <soap12:operation soapAction="urn:stopEngine" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap12:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getNumberOfContexts">
      <soap12:operation soapAction="urn:getNumberOfContexts" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap12:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="syncProperties">
      <soap12:operation soapAction="urn:syncProperties" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap12:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="restartEngine">
      <soap12:operation soapAction="urn:restartEngine" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap12:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap12:fault name="EngineException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SQLException">
        <soap12:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ParsingException">
        <soap12:fault name="ParsingException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApplicationException">
        <soap12:fault name="ApplicationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContextIDs">
      <soap12:operation soapAction="urn:getContextIDs" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap12:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="syncCertificates">
      <soap12:operation soapAction="urn:syncCertificates" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap12:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startEngine">
      <soap12:operation soapAction="urn:startEngine" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EngineException">
        <soap12:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deployArchive">
      <soap12:operation soapAction="urn:deployArchive" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IOException">
        <soap12:fault name="IOException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineException">
        <soap12:fault name="EngineException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteAdministration">
    <wsdl:port name="RemoteAdministrationHttpport" binding="axis2:RemoteAdministrationHttpBinding">
      <http:address location="http://localhost:18080/convertigo/services/RemoteAdministration"/>
    </wsdl:port>
    <wsdl:port name="RemoteAdministrationSOAP12port_http" binding="axis2:RemoteAdministrationSOAP12Binding">
      <soap12:address location="http://localhost:18080/convertigo/services/RemoteAdministration"/>
    </wsdl:port>
    <wsdl:port name="RemoteAdministrationSOAP11port_http" binding="axis2:RemoteAdministrationSOAP11Binding">
      <soap:address location="http://localhost:18080/convertigo/services/RemoteAdministration"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
