convertigo-templates/lib_UserManager/xsd/internal/lib_usermanager_fullsync/GetAccountDocument.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_UserManager_ns="http://www.convertigo.com/convertigo/projects/lib_UserManager" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_UserManager">
    <xsd:element name="lib_usermanager_fullsync__GetAccountDocument" type="lib_UserManager_ns:lib_usermanager_fullsync__GetAccountDocumentRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="lib_usermanager_fullsync__GetAccountDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_UserManager_ns:lib_usermanager_fullsync__GetAccountDocumentResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="lib_usermanager_fullsync__GetAccountDocumentResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_UserManager_ns:lib_usermanager_fullsync__GetAccountDocumentResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync__GetAccountDocumentRequestData">
        <xsd:sequence>
            <xsd:element name="_use_docid" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Document ID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_Cache_ControlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Cache-Control" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_Content_LengthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Length" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Type" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_ETagType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_ServerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-Couch-Request-ID" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-CouchDB-Body-Time" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Cache_Control" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_Cache_ControlType"/>
            <xsd:element minOccurs="0" name="Content_Length" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_Content_LengthType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Date" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="ETag" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_ETagType"/>
            <xsd:element minOccurs="0" name="Server" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_ServerType"/>
            <xsd:element minOccurs="0" name="X_Couch_Request_ID" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType"/>
            <xsd:element minOccurs="0" name="X_CouchDB_Body_Time" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="headers" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_headersType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="status" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="statusCode" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMeta_statusCodeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__revType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output_account_emailType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output_account_hashPasswordType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output_account_saltType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output_account_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output_accountType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="email" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output_account_emailType"/>
            <xsd:element minOccurs="0" name="hashPassword" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output_account_hashPasswordType"/>
            <xsd:element minOccurs="0" name="salt" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output_account_saltType"/>
            <xsd:element minOccurs="0" name="status" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output_account_statusType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oAclType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="~c8oAcl" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync_GetAccountDocument_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_c8oMeta" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oMetaType"/>
            <xsd:element minOccurs="0" name="_id" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__idType"/>
            <xsd:element minOccurs="0" name="_rev" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__revType"/>
            <xsd:element minOccurs="0" name="account" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output_accountType"/>
            <xsd:element minOccurs="0" name="_c8oAcl" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_output__c8oAclType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="lib_usermanager_fullsync__GetAccountDocumentResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="lib_UserManager_ns:lib_usermanager_fullsync_GetAccountDocument_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="lib_UserManager_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_UserManager_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_UserManager_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
