Studio/tomcat/webapps/convertigo/xsd/couchdb/CouchDb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.convertigo.com/convertigo/couchdb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.convertigo.com/convertigo/couchdb" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:complexType name="arrayType">
		<xsd:sequence>
			<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="exceptionType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="message" type="xsd:string"/>
			<xsd:element name="details">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="error" minOccurs="0" type="xsd:string"/>
						<xsd:element name="reason" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="svrConfigType">
		<xsd:sequence>
			<xsd:element name="httpd_design_handlers" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="_compact" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_info" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_list" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_rewrite" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_show" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_update" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_view" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="uuids" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="algorithm" minOccurs="0" type="xsd:string"/>
						<xsd:element name="max_count" minOccurs="0" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="stats" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rate" minOccurs="0" type="xsd:int"/>
						<xsd:element name="samples" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cors" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="credentials" minOccurs="0" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="httpd_global_handlers" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="_" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_active_tasks" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_all_dbs" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_config" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_db_updates" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_log" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_oauth" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_plugins" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_replicate" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_restart" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_session" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_stats" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_utils" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_uuids" minOccurs="0" type="xsd:string"/>
						<xsd:element name="favicon_ico" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="attachments" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="compressible_types" minOccurs="0" type="xsd:string"/>
						<xsd:element name="compression_level" minOccurs="0" type="xsd:byte"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="admins" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="admin" minOccurs="0" type="xsd:string"/>
						<xsd:any minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="query_server_config" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="os_process_limit" minOccurs="0" type="xsd:byte"/>
						<xsd:element name="reduce_limit" minOccurs="0" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="vendor" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" minOccurs="0" type="xsd:string"/>
						<xsd:element name="version" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="replicator" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="connection_timeout" minOccurs="0" type="xsd:short"/>
						<xsd:element name="db" minOccurs="0" type="xsd:string"/>
						<xsd:element name="http_connections" minOccurs="0" type="xsd:byte"/>
						<xsd:element name="max_replication_retry_count" minOccurs="0" type="xsd:byte"/>
						<xsd:element name="retries_per_request" minOccurs="0" type="xsd:byte"/>
						<xsd:element name="socket_options" minOccurs="0" type="xsd:string"/>
						<xsd:element name="ssl_certificate_max_depth" minOccurs="0" type="xsd:string"/>
						<xsd:element name="verify_ssl_certificates" minOccurs="0" type="xsd:boolean"/>
						<xsd:element name="worker_batch_size" minOccurs="0" type="xsd:short"/>
						<xsd:element name="worker_processes" minOccurs="0" type="xsd:byte"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="couch_httpd_oauth" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="use_users_db" minOccurs="0" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ssl" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="port" minOccurs="0" type="xsd:int"/>
						<xsd:element name="ssl_certificate_max_depth" minOccurs="0" type="xsd:int"/>
						<xsd:element name="verify_ssl_certificates" minOccurs="0" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="log" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="file" minOccurs="0" type="xsd:string"/>
						<xsd:element name="include_sasl" minOccurs="0" type="xsd:boolean"/>
						<xsd:element name="level" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="view_compaction" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="keyvalue_buffer_size" minOccurs="0" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="query_servers" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="coffeescript" minOccurs="0" type="xsd:string"/>
						<xsd:element name="javascript" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="daemons" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="auth_cache" minOccurs="0" type="xsd:string"/>
						<xsd:element name="compaction_daemon" minOccurs="0" type="xsd:string"/>
						<xsd:element name="external_manager" minOccurs="0" type="xsd:string"/>
						<xsd:element name="httpd" minOccurs="0" type="xsd:string"/>
						<xsd:element name="index_server" minOccurs="0" type="xsd:string"/>
						<xsd:element name="os_daemons" minOccurs="0" type="xsd:string"/>
						<xsd:element name="query_servers" minOccurs="0" type="xsd:string"/>
						<xsd:element name="replicator_manager" minOccurs="0" type="xsd:string"/>
						<xsd:element name="stats_aggregator" minOccurs="0" type="xsd:string"/>
						<xsd:element name="stats_collector" minOccurs="0" type="xsd:string"/>
						<xsd:element name="uuids" minOccurs="0" type="xsd:string"/>
						<xsd:element name="vhosts" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="httpd" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="allow_jsonp" minOccurs="0" type="xsd:boolean"/>
						<xsd:element name="authentication_handlers" minOccurs="0" type="xsd:string"/>
						<xsd:element name="bind_address" minOccurs="0" type="xsd:string"/>
						<xsd:element name="default_handler" minOccurs="0" type="xsd:string"/>
						<xsd:element name="enable_cors" minOccurs="0" type="xsd:boolean"/>
						<xsd:element name="log_max_chunk_size" minOccurs="0" type="xsd:int"/>
						<xsd:element name="port" minOccurs="0" type="xsd:int"/>
						<xsd:element name="secure_rewrites" minOccurs="0" type="xsd:boolean"/>
						<xsd:element name="socket_options" minOccurs="0" type="xsd:string"/>
						<xsd:element name="vhost_global_handlers" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="httpd_db_handlers" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="_all_docs" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_changes" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_compact" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_design" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_temp_view" minOccurs="0" type="xsd:string"/>
						<xsd:element name="_view_cleanup" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="database_compaction" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="checkpoint_after" minOccurs="0" type="xsd:int"/>
						<xsd:element name="doc_buffer_size" minOccurs="0" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="couch_httpd_auth" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="allow_persistent_cookies" minOccurs="0" type="xsd:boolean"/>
						<xsd:element name="auth_cache_size" minOccurs="0" type="xsd:byte"/>
						<xsd:element name="authentication_db" minOccurs="0" type="xsd:string"/>
						<xsd:element name="authentication_redirect" minOccurs="0" type="xsd:string"/>
						<xsd:element name="iterations" minOccurs="0" type="xsd:byte"/>
						<xsd:element name="require_valid_user" minOccurs="0" type="xsd:boolean"/>
						<xsd:element name="secret" minOccurs="0" type="xsd:hexBinary"/>
						<xsd:element name="timeout" minOccurs="0" type="xsd:short"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="couchdb" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="attachment_stream_buffer_size" minOccurs="0" type="xsd:short"/>
						<xsd:element name="database_dir" minOccurs="0" type="xsd:string"/>
						<xsd:element name="delayed_commits" minOccurs="0" type="xsd:boolean"/>
						<xsd:element name="file_compression" minOccurs="0" type="xsd:string"/>
						<xsd:element name="max_dbs_open" minOccurs="0" type="xsd:byte"/>
						<xsd:element name="max_document_size" minOccurs="0" type="xsd:long"/>
						<xsd:element name="os_process_timeout" minOccurs="0" type="xsd:short"/>
						<xsd:element name="plugin_dir" minOccurs="0" type="xsd:string"/>
						<xsd:element name="uri_file" minOccurs="0" type="xsd:string"/>
						<xsd:element name="util_driver_dir" minOccurs="0" type="xsd:string"/>
						<xsd:element name="uuid" minOccurs="0" type="xsd:string"/>
						<xsd:element name="view_index_dir" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="compaction_daemon" minOccurs="0" >
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="check_interval" minOccurs="0" type="xsd:short"/>
						<xsd:element name="min_file_size" minOccurs="0" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:any minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="svrDatabasesType">
		<xsd:sequence>
			<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="svrInfoType">
		<xsd:sequence>
			<xsd:element name="couchdb" type="xsd:string"/>
			<xsd:element name="uuid" type="xsd:string"/>
			<xsd:element name="version" type="xsd:string"/>
			<xsd:element name="vendor">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="version" type="xsd:string"/>
						<xsd:element name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="svrLogsType">
		<xsd:sequence>
			<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="svrRestartType">
		<xsd:sequence>
			<xsd:element name="ok" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="svrStatType">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string"/>
			<xsd:element name="current" type="xsd:decimal"/>
			<xsd:element name="sum" type="xsd:decimal"/>
			<xsd:element name="mean" type="xsd:decimal"/>
			<xsd:element name="stddev" type="xsd:decimal"/>
			<xsd:element name="min" type="xsd:decimal"/>
			<xsd:element name="max" type="xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="svrStatsType">
		<xsd:sequence>
			<xsd:element name="couchdb" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="auth_cache_misses" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="database_writes" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="open_databases" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="auth_cache_hits" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="request_time" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="database_reads" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="open_os_files" minOccurs="0" type="tns:svrStatType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="httpd_request_methods" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PUT" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="GET" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="COPY" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="DELETE" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="POST" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="HEAD" minOccurs="0" type="tns:svrStatType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="httpd_status_codes" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="_403" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_202" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_401" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_409" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_200" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_405" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_400" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_201" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_404" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_500" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_412" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_301" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="_304" minOccurs="0" type="tns:svrStatType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="httpd" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="clients_requesting_changes" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="temporary_view_reads" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="requests" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="bulk_requests" minOccurs="0" type="tns:svrStatType"/>
						<xsd:element name="view_reads" minOccurs="0" type="tns:svrStatType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="svrTaskType">
		<xsd:sequence>
			<xsd:element name="changes_done" minOccurs="0" type="xsd:int"/>
			<xsd:element name="database" minOccurs="0" type="xsd:string"/>
			<xsd:element name="pid" minOccurs="0" type="xsd:string"/>
			<xsd:element name="progress" minOccurs="0" type="xsd:int"/>
			<xsd:element name="started_on" minOccurs="0" type="xsd:long"/>
			<xsd:element name="status" minOccurs="0" type="xsd:string"/>
			<xsd:element name="task" minOccurs="0" type="xsd:string"/>
			<xsd:element name="total_changes" minOccurs="0" type="xsd:int"/>
			<xsd:element name="type" minOccurs="0" type="xsd:string"/>
			<xsd:element name="updated_on" minOccurs="0" type="xsd:long"/>
			<xsd:any minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="svrTasksType">
		<xsd:sequence>
			<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:svrTaskType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="svrUuidsType">
		<xsd:sequence>
			<xsd:element name="uuids" type="tns:arrayType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dbCreateType">
		<xsd:sequence>
			<xsd:element name="ok" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dbDeleteType">
		<xsd:sequence>
			<xsd:element name="ok" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dbExistType">
		<xsd:sequence>
			<xsd:element name="ok" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dbInfoType">
		<xsd:sequence>
			<xsd:element name="db_name" type="xsd:string"/>
			<xsd:element name="doc_count" type="xsd:int"/>
			<xsd:element name="doc_del_count" type="xsd:boolean"/>
			<xsd:element name="update_seq" type="xsd:int"/>
			<xsd:element name="purge_seq" type="xsd:boolean"/>
			<xsd:element name="compact_running" type="xsd:boolean"/>
			<xsd:element name="disk_size" type="xsd:int"/>
			<xsd:element name="data_size" type="xsd:int"/>
			<xsd:element name="instance_start_time" type="xsd:long"/>
			<xsd:element name="disk_format_version" type="xsd:int"/>
			<xsd:element name="committed_update_seq" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="userLogonType">
		<xsd:sequence>
			<xsd:element name="ok" type="xsd:boolean"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="roles" type="tns:arrayType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="userLogoutType">
		<xsd:sequence>
			<xsd:element name="ok" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="userInfoType">
		<xsd:sequence>
			<xsd:element name="ok" type="xsd:boolean"/>
			<xsd:element name="userCtx">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string"/>
						<xsd:element name="roles" type="tns:arrayType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="info">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="authentication_db" type="xsd:string"/>
						<xsd:element name="authentication_handlers">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="item" maxOccurs="unbounded">
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="cookie"/>
												<xsd:enumeration value="default"/>
												<xsd:enumeration value="oauth"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="authenticated" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="docCreateType">
		<xsd:sequence>
			<xsd:element name="ok" type="xsd:boolean"/>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="rev" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="docUpdateType">
		<xsd:sequence>
			<xsd:element name="ok" type="xsd:boolean"/>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="rev" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="docDeleteType">
		<xsd:sequence>
			<xsd:element name="ok" type="xsd:boolean"/>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="rev" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="docExistType">
		<xsd:sequence>
			<xsd:element name="ok" type="xsd:boolean"/>
			<xsd:element name="ETag" type="xsd:string"/>
			<xsd:element name="id" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="docAttType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="content_type" type="xsd:string"/>
			<xsd:element name="revpos" type="xsd:int"/>
			<xsd:element name="digest" type="xsd:string"/>
			<xsd:element name="length" type="xsd:int"/>
			<xsd:element name="stub" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="docGetType">
		<xsd:all minOccurs="0">
			<xsd:element name="_id" type="xsd:boolean"/>
			<xsd:element name="_rev" type="xsd:string"/>
			<xsd:element name="_deleted" type="xsd:boolean"/>
			<xsd:element name="_local_seq" type="xsd:int"/>
			<xsd:element name="_conflicts" type="tns:arrayType"/>
			<xsd:element name="_deleted_conflicts" type="tns:arrayType"/>
			<xsd:element name="_revs_info">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="item">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="_revisions">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="start" type="xsd:int"/>
						<xsd:element name="ids" type="tns:arrayType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="_attachments">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="attachment" minOccurs="0" maxOccurs="unbounded" type="tns:docAttType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:any/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="docBulkType">
		<xsd:sequence>
			<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ok" type="xsd:boolean"/>
						<xsd:element name="id" type="xsd:string"/>
						<xsd:element name="rev" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
