Studio/tomcat/webapps/convertigo/xsd/couchdb/CouchDb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.convertigo.com/convertigo/couchdb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.convertigo.com/convertigo/couchdb" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:complexType name="arrayType">
		<xsd:sequence>
			<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="exceptionType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="message" type="xsd:string"/>
			<xsd:element name="details">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="error" minOccurs="0" type="xsd:string"/>
						<xsd:element name="reason" minOccurs="0" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="c8oMetaType">
		<xsd:all>
			<xsd:element name="statusCode" type="xsd:int"/>
			<xsd:element name="status" type="xsd:string"/>
			<xsd:element name="reasonPhrase" type="xsd:string"/>
			<xsd:element name="headers">
				<xsd:complexType>
					<xsd:all minOccurs="0">
						<xsd:element name="Server" type="xsd:string"/>
						<xsd:element name="Location" type="xsd:string"/>
						<xsd:element name="ETag" type="xsd:string"/>
						<xsd:element name="Date" type="xsd:string"/>
						<xsd:element name="Content_Type" type="xsd:string"/>
						<xsd:element name="Content_Length" type="xsd:string"/>
						<xsd:element name="Cache_Control" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="couchTransactionType">
		<xsd:all>
			<xsd:element name="error" minOccurs="0" type="xsd:string"/>
			<xsd:element name="reason" minOccurs="0" type="xsd:string" />
			<xsd:element name="_c8oMeta" type="tns:c8oMetaType" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="couchDocumentTransactionType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="ok" type="xsd:boolean"/>
					<xsd:element name="id" type="xsd:string"/>
					<xsd:element name="rev" type="xsd:string"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="couchServerConfigTransactionType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="httpd_design_handlers">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="_compact" type="xsd:string"/>
								<xsd:element name="_info" type="xsd:string"/>
								<xsd:element name="_list" type="xsd:string"/>
								<xsd:element name="_rewrite" type="xsd:string"/>
								<xsd:element name="_show" type="xsd:string"/>
								<xsd:element name="_update" type="xsd:string"/>
								<xsd:element name="_view" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="uuids">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="algorithm" type="xsd:string"/>
								<xsd:element name="max_count" type="xsd:int"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="stats">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="rate" type="xsd:int"/>
								<xsd:element name="samples" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="cors">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="credentials" type="xsd:boolean"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="httpd_global_handlers">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="_" type="xsd:string"/>
								<xsd:element name="_active_tasks" type="xsd:string"/>
								<xsd:element name="_all_dbs" type="xsd:string"/>
								<xsd:element name="_config" type="xsd:string"/>
								<xsd:element name="_db_updates" type="xsd:string"/>
								<xsd:element name="_log" type="xsd:string"/>
								<xsd:element name="_oauth" type="xsd:string"/>
								<xsd:element name="_plugins" type="xsd:string"/>
								<xsd:element name="_replicate" type="xsd:string"/>
								<xsd:element name="_restart" type="xsd:string"/>
								<xsd:element name="_session" type="xsd:string"/>
								<xsd:element name="_stats" type="xsd:string"/>
								<xsd:element name="_utils" type="xsd:string"/>
								<xsd:element name="_uuids" type="xsd:string"/>
								<xsd:element name="favicon_ico" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="attachments">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="compressible_types" type="xsd:string"/>
								<xsd:element name="compression_level" type="xsd:byte"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="admins">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="admin" type="xsd:string"/>
								<xsd:any/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="query_server_config">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="os_process_limit" type="xsd:byte"/>
								<xsd:element name="reduce_limit" type="xsd:boolean"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="vendor">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="name" type="xsd:string"/>
								<xsd:element name="version" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="replicator">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="connection_timeout" type="xsd:short"/>
								<xsd:element name="db" type="xsd:string"/>
								<xsd:element name="http_connections" type="xsd:byte"/>
								<xsd:element name="max_replication_retry_count" type="xsd:byte"/>
								<xsd:element name="retries_per_request" type="xsd:byte"/>
								<xsd:element name="socket_options" type="xsd:string"/>
								<xsd:element name="ssl_certificate_max_depth" type="xsd:string"/>
								<xsd:element name="verify_ssl_certificates" type="xsd:boolean"/>
								<xsd:element name="worker_batch_size" type="xsd:short"/>
								<xsd:element name="worker_processes" type="xsd:byte"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="couch_httpd_oauth">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="use_users_db" type="xsd:boolean"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ssl">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="port" type="xsd:int"/>
								<xsd:element name="ssl_certificate_max_depth" type="xsd:int"/>
								<xsd:element name="verify_ssl_certificates" type="xsd:boolean"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="log">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="file" type="xsd:string"/>
								<xsd:element name="include_sasl" type="xsd:boolean"/>
								<xsd:element name="level" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="view_compaction">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="keyvalue_buffer_size" type="xsd:int"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="query_servers">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="coffeescript" type="xsd:string"/>
								<xsd:element name="javascript" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="daemons">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="auth_cache" type="xsd:string"/>
								<xsd:element name="compaction_daemon" type="xsd:string"/>
								<xsd:element name="external_manager" type="xsd:string"/>
								<xsd:element name="httpd" type="xsd:string"/>
								<xsd:element name="index_server" type="xsd:string"/>
								<xsd:element name="os_daemons" type="xsd:string"/>
								<xsd:element name="query_servers" type="xsd:string"/>
								<xsd:element name="replicator_manager" type="xsd:string"/>
								<xsd:element name="stats_aggregator" type="xsd:string"/>
								<xsd:element name="stats_collector" type="xsd:string"/>
								<xsd:element name="uuids" type="xsd:string"/>
								<xsd:element name="vhosts" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="httpd">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="allow_jsonp" type="xsd:boolean"/>
								<xsd:element name="authentication_handlers" type="xsd:string"/>
								<xsd:element name="bind_address" type="xsd:string"/>
								<xsd:element name="default_handler" type="xsd:string"/>
								<xsd:element name="enable_cors" type="xsd:boolean"/>
								<xsd:element name="log_max_chunk_size" type="xsd:int"/>
								<xsd:element name="port" type="xsd:int"/>
								<xsd:element name="secure_rewrites" type="xsd:boolean"/>
								<xsd:element name="socket_options" type="xsd:string"/>
								<xsd:element name="vhost_global_handlers" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="httpd_db_handlers">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="_all_docs" type="xsd:string"/>
								<xsd:element name="_changes" type="xsd:string"/>
								<xsd:element name="_compact" type="xsd:string"/>
								<xsd:element name="_design" type="xsd:string"/>
								<xsd:element name="_temp_view" type="xsd:string"/>
								<xsd:element name="_view_cleanup" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="database_compaction">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="checkpoint_after" type="xsd:int"/>
								<xsd:element name="doc_buffer_size" type="xsd:int"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="couch_httpd_auth">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="allow_persistent_cookies" type="xsd:boolean"/>
								<xsd:element name="auth_cache_size" type="xsd:byte"/>
								<xsd:element name="authentication_db" type="xsd:string"/>
								<xsd:element name="authentication_redirect" type="xsd:string"/>
								<xsd:element name="iterations" type="xsd:byte"/>
								<xsd:element name="require_valid_user" type="xsd:boolean"/>
								<xsd:element name="secret" type="xsd:hexBinary"/>
								<xsd:element name="timeout" type="xsd:short"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="couchdb">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="attachment_stream_buffer_size" type="xsd:short"/>
								<xsd:element name="database_dir" type="xsd:string"/>
								<xsd:element name="delayed_commits" type="xsd:boolean"/>
								<xsd:element name="file_compression" type="xsd:string"/>
								<xsd:element name="max_dbs_open" type="xsd:byte"/>
								<xsd:element name="max_document_size" type="xsd:long"/>
								<xsd:element name="os_process_timeout" type="xsd:short"/>
								<xsd:element name="plugin_dir" type="xsd:string"/>
								<xsd:element name="uri_file" type="xsd:string"/>
								<xsd:element name="util_driver_dir" type="xsd:string"/>
								<xsd:element name="uuid" type="xsd:string"/>
								<xsd:element name="view_index_dir" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="compaction_daemon">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="check_interval" type="xsd:short"/>
								<xsd:element name="min_file_size" type="xsd:int"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:any minOccurs="0"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="couchServerStatType">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string"/>
			<xsd:element name="current" type="xsd:decimal"/>
			<xsd:element name="sum" type="xsd:decimal"/>
			<xsd:element name="mean" type="xsd:decimal"/>
			<xsd:element name="stddev" type="xsd:decimal"/>
			<xsd:element name="min" type="xsd:decimal"/>
			<xsd:element name="max" type="xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="couchServerTaskType">
		<xsd:sequence>
			<xsd:element name="changes_done" minOccurs="0" type="xsd:int"/>
			<xsd:element name="database" minOccurs="0" type="xsd:string"/>
			<xsd:element name="pid" minOccurs="0" type="xsd:string"/>
			<xsd:element name="progress" minOccurs="0" type="xsd:int"/>
			<xsd:element name="started_on" minOccurs="0" type="xsd:long"/>
			<xsd:element name="status" minOccurs="0" type="xsd:string"/>
			<xsd:element name="task" minOccurs="0" type="xsd:string"/>
			<xsd:element name="total_changes" minOccurs="0" type="xsd:int"/>
			<xsd:element name="type" minOccurs="0" type="xsd:string"/>
			<xsd:element name="updated_on" minOccurs="0" type="xsd:long"/>
			<xsd:any minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="couchDocumentAttachmentType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="content_type" type="xsd:string"/>
			<xsd:element name="revpos" type="xsd:int"/>
			<xsd:element name="digest" type="xsd:string"/>
			<xsd:element name="length" type="xsd:int"/>
			<xsd:element name="stub" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="deleteDatabaseType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="ok" type="xsd:boolean"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="deleteDocumentAttachmentType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchDocumentTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="deleteDocumentType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchDocumentTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="deleteServerConfigType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchServerConfigTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="deleteSessionType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="ok" type="xsd:boolean"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getDatabaseInfoType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="db_name" type="xsd:string"/>
					<xsd:element name="doc_count" type="xsd:int"/>
					<xsd:element name="doc_del_count" type="xsd:boolean"/>
					<xsd:element name="update_seq" type="xsd:int"/>
					<xsd:element name="purge_seq" type="xsd:boolean"/>
					<xsd:element name="compact_running" type="xsd:boolean"/>
					<xsd:element name="disk_size" type="xsd:int"/>
					<xsd:element name="data_size" type="xsd:int"/>
					<xsd:element name="instance_start_time" type="xsd:long"/>
					<xsd:element name="disk_format_version" type="xsd:int"/>
					<xsd:element name="committed_update_seq" type="xsd:int"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getDocumentAttachmentType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getDocumentType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="_id" type="xsd:boolean"/>
					<xsd:element name="_rev" type="xsd:string"/>
					<xsd:element name="_deleted" type="xsd:boolean"/>
					<xsd:element name="_local_seq" type="xsd:int"/>
					<xsd:element name="_conflicts" type="tns:arrayType"/>
					<xsd:element name="_deleted_conflicts" type="tns:arrayType"/>
					<xsd:element name="_revs_info">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="item">
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="_revisions">
						<xsd:complexType>
							<xsd:all>
								<xsd:element name="start" type="xsd:int"/>
								<xsd:element name="ids" type="tns:arrayType"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="_attachments">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="attachment" minOccurs="0" maxOccurs="unbounded" type="tns:couchDocumentAttachmentType"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:any/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getServerConfigType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchServerConfigTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getServerDatabasesType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="items" type="tns:arrayType"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getServerInfoType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all>
					<xsd:element name="couchdb" type="xsd:string"/>
					<xsd:element name="uuid" type="xsd:string"/>
					<xsd:element name="version" type="xsd:string"/>
					<xsd:element name="vendor">
						<xsd:complexType>
							<xsd:all>
								<xsd:element name="version" type="xsd:string"/>
								<xsd:element name="name" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getServerLogType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="data" type="xsd:string"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getServerStatsType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="couchdb">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="auth_cache_misses" type="tns:couchServerStatType"/>
								<xsd:element name="database_writes" type="tns:couchServerStatType"/>
								<xsd:element name="open_databases" type="tns:couchServerStatType"/>
								<xsd:element name="auth_cache_hits" type="tns:couchServerStatType"/>
								<xsd:element name="request_time" type="tns:couchServerStatType"/>
								<xsd:element name="database_reads" type="tns:couchServerStatType"/>
								<xsd:element name="open_os_files" type="tns:couchServerStatType"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="httpd_request_methods">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="PUT" type="tns:couchServerStatType"/>
								<xsd:element name="GET" type="tns:couchServerStatType"/>
								<xsd:element name="COPY" type="tns:couchServerStatType"/>
								<xsd:element name="DELETE" type="tns:couchServerStatType"/>
								<xsd:element name="POST" type="tns:couchServerStatType"/>
								<xsd:element name="HEAD" type="tns:couchServerStatType"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="httpd_status_codes">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="_403" type="tns:couchServerStatType"/>
								<xsd:element name="_202" type="tns:couchServerStatType"/>
								<xsd:element name="_401" type="tns:couchServerStatType"/>
								<xsd:element name="_409" type="tns:couchServerStatType"/>
								<xsd:element name="_200" type="tns:couchServerStatType"/>
								<xsd:element name="_405" type="tns:couchServerStatType"/>
								<xsd:element name="_400" type="tns:couchServerStatType"/>
								<xsd:element name="_201" type="tns:couchServerStatType"/>
								<xsd:element name="_404" type="tns:couchServerStatType"/>
								<xsd:element name="_500" type="tns:couchServerStatType"/>
								<xsd:element name="_412" type="tns:couchServerStatType"/>
								<xsd:element name="_301" type="tns:couchServerStatType"/>
								<xsd:element name="_304" type="tns:couchServerStatType"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="httpd">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="clients_requesting_changes" type="tns:couchServerStatType"/>
								<xsd:element name="temporary_view_reads" type="tns:couchServerStatType"/>
								<xsd:element name="requests" type="tns:couchServerStatType"/>
								<xsd:element name="bulk_requests" type="tns:couchServerStatType"/>
								<xsd:element name="view_reads" type="tns:couchServerStatType"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getServerTasksType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="items" type="tns:couchServerTaskType"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getServerUpdatesType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="db_name" type="xsd:string"/>
					<xsd:element name="ok" type="xsd:boolean"/>
					<xsd:element name="type" type="xsd:string"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getServerUuidsType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="uuids" type="tns:arrayType"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getSessionType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="ok" type="xsd:boolean"/>
					<xsd:element name="userCtx">
						<xsd:complexType>
							<xsd:all>
								<xsd:element name="name" type="xsd:string"/>
								<xsd:element name="roles" type="tns:arrayType"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="info">
						<xsd:complexType>
							<xsd:all>
								<xsd:element name="authentication_db" type="xsd:string"/>
								<xsd:element name="authentication_handlers">
									<xsd:complexType>
										<xsd:all>
											<xsd:element name="item" maxOccurs="unbounded">
												<xsd:simpleType>
													<xsd:restriction base="xsd:string">
														<xsd:enumeration value="cookie"/>
														<xsd:enumeration value="default"/>
														<xsd:enumeration value="oauth"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:element>
										</xsd:all>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="authenticated" type="xsd:string"/>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="getViewType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="total_rows" type="xsd:int"/>
					<xsd:element name="offset" type="xsd:int"/>
					<xsd:element name="rows">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="item">
									<xsd:complexType>
										<xsd:all>
											<xsd:element name="id" type="xsd:string"/>
											<xsd:element name="key" type="xsd:string"/>
											<xsd:element name="value" type="xsd:string"/>
										</xsd:all>
									</xsd:complexType>
								</xsd:element>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="headDatabaseType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="headDocumentType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="postBulkDocumentsType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="items">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="item">
									<xsd:complexType>
										<xsd:all minOccurs="0">
											<xsd:element name="ok" type="xsd:boolean"/>
											<xsd:element name="id" type="xsd:string"/>
											<xsd:element name="rev" type="xsd:string"/>
										</xsd:all>
									</xsd:complexType>
								</xsd:element>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="postDocumentType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchDocumentTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="postReplicateType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="history">
						<xsd:complexType>
							<xsd:all minOccurs="0">
								<xsd:element name="item">
									<xsd:complexType>
										<xsd:all minOccurs="0">
											<xsd:element name="doc_write_failures" type="xsd:int"/>
											<xsd:element name="docs_read" type="xsd:int"/>
											<xsd:element name="docs_written" type="xsd:int"/>
											<xsd:element name="end_last_seq" type="xsd:int"/>
											<xsd:element name="end_time" type="xsd:string"/>
											<xsd:element name="missing_checked" type="xsd:int"/>
											<xsd:element name="missing_found" type="xsd:int"/>
											<xsd:element name="recorded_seq" type="xsd:int"/>
											<xsd:element name="session_id" type="xsd:string"/>
											<xsd:element name="start_last_seq" type="xsd:int"/>
											<xsd:element name="start_time" type="xsd:string"/>
										</xsd:all>
									</xsd:complexType>
								</xsd:element>
							</xsd:all>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ok" type="xsd:boolean"/>
					<xsd:element name="replication_id_version" type="xsd:int"/>
					<xsd:element name="session_id" type="xsd:string"/>
					<xsd:element name="source_last_seq" type="xsd:int"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="postServerRestartType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="ok" type="xsd:boolean"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="postSessionType">
		<xsd:complexContent>
			<xsd:extension base="tns:getSessionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="putDatabaseType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchTransactionType">
				<xsd:all minOccurs="0">
					<xsd:element name="ok" type="xsd:boolean"/>
				</xsd:all>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="putDocumentAttachmentType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchDocumentTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="putServerConfigType">
		<xsd:complexContent>
			<xsd:extension base="tns:couchServerConfigTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
</xsd:schema>