convertigo-templates/lib_OAuth/xsd/internal/GoogleOAuth/DiscoveryDocument.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_OAuth_ns="http://www.convertigo.com/convertigo/projects/lib_OAuth" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_OAuth">
    <xsd:element name="GoogleOAuth__DiscoveryDocument" type="lib_OAuth_ns:GoogleOAuth__DiscoveryDocumentRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="GoogleOAuth__DiscoveryDocumentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_OAuth_ns:GoogleOAuth__DiscoveryDocumentResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="GoogleOAuth__DiscoveryDocumentResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_OAuth_ns:GoogleOAuth__DiscoveryDocumentResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth__DiscoveryDocumentRequestData">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_authorization_endpointType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_claims_supported_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_claims_supportedType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_claims_supported_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_code_challenge_methods_supported_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_code_challenge_methods_supportedType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_code_challenge_methods_supported_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_id_token_signing_alg_values_supported_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_id_token_signing_alg_values_supportedType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="value" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_id_token_signing_alg_values_supported_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_issuerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_jwks_uriType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_response_types_supported_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_response_types_supportedType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_response_types_supported_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_revocation_endpointType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_scopes_supported_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_scopes_supportedType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_scopes_supported_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_subject_types_supported_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_subject_types_supportedType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="value" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_subject_types_supported_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_token_endpointType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_token_endpoint_auth_methods_supported_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_token_endpoint_auth_methods_supportedType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_token_endpoint_auth_methods_supported_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_object_userinfo_endpointType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth_DiscoveryDocument_document_objectType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="authorization_endpoint" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_authorization_endpointType"/>
            <xsd:element minOccurs="0" name="claims_supported" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_claims_supportedType"/>
            <xsd:element minOccurs="0" name="code_challenge_methods_supported" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_code_challenge_methods_supportedType"/>
            <xsd:element minOccurs="0" name="id_token_signing_alg_values_supported" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_id_token_signing_alg_values_supportedType"/>
            <xsd:element minOccurs="0" name="issuer" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_issuerType"/>
            <xsd:element minOccurs="0" name="jwks_uri" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_jwks_uriType"/>
            <xsd:element minOccurs="0" name="response_types_supported" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_response_types_supportedType"/>
            <xsd:element minOccurs="0" name="revocation_endpoint" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_revocation_endpointType"/>
            <xsd:element minOccurs="0" name="scopes_supported" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_scopes_supportedType"/>
            <xsd:element minOccurs="0" name="subject_types_supported" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_subject_types_supportedType"/>
            <xsd:element minOccurs="0" name="token_endpoint" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_token_endpointType"/>
            <xsd:element minOccurs="0" name="token_endpoint_auth_methods_supported" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_token_endpoint_auth_methods_supportedType"/>
            <xsd:element minOccurs="0" name="userinfo_endpoint" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_object_userinfo_endpointType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="GoogleOAuth__DiscoveryDocumentResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="object" type="lib_OAuth_ns:GoogleOAuth_DiscoveryDocument_document_objectType"/>
            <xsd:element minOccurs="0" name="error" type="lib_OAuth_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_OAuth_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_OAuth_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
