convertigo-templates/lib_FileTransfer/xsd/internal/c8ofiletransfer/GetAlias.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_FileTransfer_ns="http://www.convertigo.com/convertigo/projects/lib_FileTransfer" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_FileTransfer">
    <xsd:element name="c8ofiletransfer__GetAlias" type="lib_FileTransfer_ns:c8ofiletransfer__GetAliasRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="c8ofiletransfer__GetAliasResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_FileTransfer_ns:c8ofiletransfer__GetAliasResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="c8ofiletransfer__GetAliasResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_FileTransfer_ns:c8ofiletransfer__GetAliasResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer__GetAliasRequestData">
        <xsd:sequence>
            <xsd:element name="_use_key" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>(string) – Return only documents that match the specified key. Optional</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_Cache_ControlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="originalKeyName" type="xsd:string"/>
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="originalKeyName" type="xsd:string"/>
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_ETagType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_ServerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="originalKeyName" type="xsd:string"/>
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Cache_Control" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_Cache_ControlType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Date" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="ETag" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_ETagType"/>
            <xsd:element minOccurs="0" name="Server" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_ServerType"/>
            <xsd:element minOccurs="0" name="Transfer_Encoding" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="headers" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_headersType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="status" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="statusCode" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output__c8oMeta_statusCodeType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output_offsetType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output_rows_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output_rows_item_keyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output_rows_item_value_filenameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output_rows_item_value_uuidType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output_rows_item_valueType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="filename" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output_rows_item_value_filenameType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="uuid" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output_rows_item_value_uuidType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output_rows_itemType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="id" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output_rows_item_idType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="key" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output_rows_item_keyType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output_rows_item_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output_rowsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output_rows_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_output_total_rowsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetAlias_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_c8oMeta" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output__c8oMetaType"/>
            <xsd:element minOccurs="0" name="offset" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output_offsetType"/>
            <xsd:element minOccurs="0" name="rows" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output_rowsType"/>
            <xsd:element minOccurs="0" name="total_rows" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_output_total_rowsType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer__GetAliasResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="lib_FileTransfer_ns:c8ofiletransfer_GetAlias_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="lib_FileTransfer_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_FileTransfer_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_FileTransfer_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
