convertigo-templates/lib_FileTransfer/xsd/internal/c8ofiletransfer/GetChunk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_FileTransfer_ns="http://www.convertigo.com/convertigo/projects/lib_FileTransfer" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_FileTransfer">
    <xsd:element name="c8ofiletransfer__GetChunk" type="lib_FileTransfer_ns:c8ofiletransfer__GetChunkRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="c8ofiletransfer__GetChunkResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_FileTransfer_ns:c8ofiletransfer__GetChunkResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="c8ofiletransfer__GetChunkResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_FileTransfer_ns:c8ofiletransfer__GetChunkResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer__GetChunkRequestData">
        <xsd:sequence>
            <xsd:element name="_use_docid" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Document ID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_content_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_digestType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_lengthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_revposType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_stubType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachmentType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="content_type" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_content_typeType"/>
            <xsd:element minOccurs="0" name="digest" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_digestType"/>
            <xsd:element minOccurs="0" name="length" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_lengthType"/>
            <xsd:element minOccurs="0" name="name" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_nameType"/>
            <xsd:element minOccurs="0" name="revpos" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_revposType"/>
            <xsd:element minOccurs="0" name="stub" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachment_stubType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__attachmentsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="attachment" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__attachments_attachmentType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_Cache_ControlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="originalKeyName" type="xsd:string"/>
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_Content_LengthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="originalKeyName" type="xsd:string"/>
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="originalKeyName" type="xsd:string"/>
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_ETagType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_ServerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Cache_Control" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_Cache_ControlType"/>
            <xsd:element minOccurs="0" name="Content_Length" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_Content_LengthType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Date" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="ETag" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_ETagType"/>
            <xsd:element minOccurs="0" name="Server" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headers_ServerType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="headers" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_headersType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="status" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="statusCode" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oMeta_statusCodeType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__revType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output_aliasType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output_creationType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output_filenameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output_uuidType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_output__c8oAclType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="originalKeyName" type="xsd:string"/>
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer_GetDocument_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_attachments" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__attachmentsType"/>
            <xsd:element minOccurs="0" name="_c8oMeta" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oMetaType"/>
            <xsd:element minOccurs="0" name="_id" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__idType"/>
            <xsd:element minOccurs="0" name="_rev" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__revType"/>
            <xsd:element minOccurs="0" name="alias" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output_aliasType"/>
            <xsd:element minOccurs="0" name="creation" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output_creationType"/>
            <xsd:element minOccurs="0" name="filename" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output_filenameType"/>
            <xsd:element minOccurs="0" name="type" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output_typeType"/>
            <xsd:element minOccurs="0" name="uuid" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output_uuidType"/>
            <xsd:element minOccurs="0" name="_c8oAcl" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_output__c8oAclType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8ofiletransfer__GetChunkResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="lib_FileTransfer_ns:c8ofiletransfer_GetDocument_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="lib_FileTransfer_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_FileTransfer_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_FileTransfer_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
